@import './_variables';

.About {
	@include component-main;

	.about-head {
		@include page-header;

		h1 {
			@include page-header-h1;
		}
	}
	.about-body {
		display: flex;
		justify-content: center;
		align-items: center;

		.about-content {
			width: 90%;

			h2 {
				margin-bottom: 10px;
				text-decoration: underline;
			}

			p {
				// line-height: 140%;
				// font-size: 120%;
			}
		}
	}
}
