@import './_variables';

.Contact {
	@include component-main;

	.contact-head {
		@include page-header;

		.contact-header {

			h1 {
				@include page-header-h1;
			}
		}
	}
	.contact-body {
		display: flex;
		justify-content: center;
		align-content: center;

		.contact-form {
			width: 90%;
		}

		#email, #subject, #content {
			width: 100%;
			padding: 10px 0px 10px 15px;
			font-size: 1em;
			border: 2px solid $headerbg;
			background-color: lightgray;
			color: $primary;
			outline: none;
			box-shadow: inset 2px 2px 2px $primary;

		}

		#content {
			height: 9em;
			resize: none;
		}

		input[type=submit] {
			background-color: $third;
			padding: 10px 40px;
			font-size: 1em;
			color: $primary;
			outline: none;
			border: 2px solid $headerbg;
			border-radius: 7px;
			box-shadow: 3px 3px 3px $primary;
		}

		input[type=submit]:hover {
			box-shadow: none;
			color: #fff;
			border: 2px solid #fff;
			background-color: $headerbg;
			text-shadow: 1px 1px $footer;
		}
	}
}
