@import './_variables';

.Footer {
	width: 100%;
	background-color: $footer;
	padding-top: 10px;
	padding-bottom: 10px;
	// box-shadow: -10px -4px 5px gray;
	display: flex;
	justify-content: space-around;
	align-content: center;

	.copyright {
		// margin-right: auto;
		// margin-left: 50px;
		color: $footer-font;
		padding-left: 2em;
		width: 60%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;

		// .text {
			// display: flex;
			// flex-direction: column;
			// justify-content: space-around;
			// align-content: center;
			// color: $footer-font;

			h2 {
				letter-spacing: 4px;
				// font-style: $font-light;
			}
			p {
				margin: 0;
				font-size: 0.7em;
				letter-spacing: 2px;
		}
	}

	.links {
		// margin-left: auto;
		padding-right: 2em;
		padding-left: 2em;
		width: 40%;
		border-left: 2px solid gray;

		ul {
			padding-left: 0px;
			display: flex;
			justify-content: space-around;
			align-content: center;
			list-style-type: none;

			li {
				align-items: center;
				// border-left: 1px solid gray;

				a:link, a:visited {
					// background-color: red;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					padding: 4px;
					height: 25px;
					width: 25px;
					border: 3px solid $third;
					border-radius: 25px;
					box-shadow: 7px 5px 5px $primary;
				}

				a:hover {
					box-shadow: 0px 0px 0px $footer;
					border: 3px solid white;
				}
			}
		}
	}
}

