@import './_variables';

.Footer {
	height: auto;
	// margin-top: auto;
	background-color: $footer;
	padding: 10px 0px;
	display: flex;
	justify-content: space-around;
	align-content: center;

	.copyright {
		color: $footer-font;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;

		h2 {
			letter-spacing: 4px;
			margin: 10px 0;
		}
		p {
			margin: 0 0 10px 0;
			font-size: 0.7em;
			letter-spacing: 2px;
		}
	}

	.links {
		width: 100%;

		ul {
			margin: 0px;
			padding-left: 0px;
			display: flex;
			justify-content: space-around;
			align-items: center;
			list-style-type: none;

			li {

				a:link, a:visited {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					padding: 4px;
					height: 25px;
					width: 25px;
					border: 3px solid $third;
					border-radius: 25px;
					box-shadow: 7px 5px 5px $primary;
				}

				a:hover {
					box-shadow: 0px 0px 0px $footer;
					border: 3px solid white;
				}
			}
		}
	}
}

