
.Giffy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: red;

	.gif {
		align-self: center;
		text-align: center;
	}
	#gifDiv {
		height: 200px;
		width: 200px;
		border-bottom: 2px solid;
	}
}

#gifDiv > img {
	height: 195px;
	width: 195px;
}
