@import './_variables';

.Header {
	flex: 1;
	padding: .8em 1em;
	position: fixed;
	width: 100vw;
	top: 0;
	left: 0;
	color: $footer-font;
	background-color: $footer;
	display: flex;
	justify-content: space-between;
	box-shadow: 2px 2px 2px $primary;
	box-sizing: border-box;

	.logo {

		code {
			font-size: 1em;
			letter-spacing: 3px;
			text-shadow: 3px 3px 3px $primary;

			a:link, a:visited {
				text-decoration: none;
				color: $footer-font;
			}
		}
	}

	.menu {
		@include flexbox-center;

		.menu-icon {

			.menu-button {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-content: center;
				margin: 0;
				padding: 0;
				border: none;
				background-color: transparent;

				.bar1, .bar2, .bar3 {
					width: 32px;
					height: 4px;
					background-color: $footer-font;
					margin: 4px 0;
					box-shadow: 4px 4px 3px $primary;

				}
			}

			.menu-button:hover {

				.bar1, .bar2, .bar3 {
					background-color: #fff;
					box-shadow: none;
				}
			}

			.menu-button:focus, .menu-button:active {
				outline: none;
			}
		}

		.menu-dropdown {

			position: fixed;
			top: 80px;
			right: 0;
			height: 300px;
			width: auto;
			display: flex;
			justify-content: flex-end;
			align-content: center;
			// z-index: 10000;

			ul, li {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
				align-content: flex-end;

				li {
					margin-right: .5em;
					font-size: 20px;
				}
			}
		}

		a {
			width: 100px;
		}

		a:link, a:visited {
			color: $footer-font;
			padding: 0.4em 0.9em;
			background-color: #505050;
			border-bottom-left-radius: 10px;
			box-shadow: 5px 5px 3px $primary;
			text-decoration: none;
			font-weight: bold;
			letter-spacing: 2px;
		}

		a:hover {
			color: #fff;
			background-color: #444;
			box-shadow: none;
		}
	}
}
