@import './_variables';

.Home {
	color: $primary;
	// max-width: 62em;
	height: 100%;
	width: 100%;
	// margin: 0 6em;
	margin-bottom: 92px;
	padding-top: 80px;
	font-family: Courier New, Courier, monospace;

	.home-head {
		@include page-header;

		.home-header {

			h1 {
				text-align: center;
				padding: 30px 0;
				font-size: 4em;
				letter-spacing: 5px;
				color: #EFF4ED;
				text-shadow: 2px 2px $primary;
				background-image: url('/png/shaka-sign.png');
				background-origin: border-box;
				background-position: right top;
				background-repeat: no-repeat;
				animation-name: shaka;
				animation-duration: 3s;

			}
		}
	}
	.home-body {
		height: 35em;
		display: flex;
		justify-content: space-around;
		// align-items: flex-start;

		.home-content {
			width: 40%;

			p {
				line-height: 200%;
				font-size: 120%;
				font-weight: bold;
			}
		}

		.home-pic {
			width: 40%;
			height: auto;
			// text-align: center;

			.home-pic-actual {
				// position: relative;
				text-align: center;
				display: flex;
				justify-content: center;
				align-content: center;
				overflow: visible;

				img {   //Acutal dimensions 274 × 358
					display: block;
					position: absolute;
					height: auto;
					width: 100%;
					z-index: -1;
					max-width: 356px; //411
					max-height: 465px; //537
					opacity: 0.6;
					// box-shadow: 9px 9px 5px $primary;
					border-bottom-left-radius: 10%;
				}

				.topleft {
					position: absolute;
					width: 300px;
					text-align: center;
					padding-top: 10px;
					color: #fff;
					font-size: 120%;
					font-weight: bold;
					hr {
						margin-top: 4px;
					}
				}
			}
		}
	}
}






