@import './_variables';

.Home {
	@include component-main;

	.home-head {
		@include page-header;

		h1 {
			@include page-header-h1;
			background-image: url('/png/shaka-sign.png');
			background-size: 3em 3em;
			background-origin: border-box;
			background-position: right top;
			background-repeat: no-repeat;
			animation-name: shaka;
			animation-duration: 3s;

		}
	}
	.home-body {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		.home-content {
			width: 90%;

			img {
				max-width: 300px;
				display: block;
				margin: auto;
			}
		}

		.home-pic {
			// height: 100%;
			// @include flexbox-center;

			img {   //Acutal dimensions 274 × 358
				z-index: -1000;
				opacity: 0.9;
				border-radius: 10%;
				// display: block;
			}
		}
	}
}






