@import './_variables';

.Home {
	text-align: center;
	color: $primary;
  width: 100%;
	height: auto;
	margin: 0px;
	$padding: 400px;
	padding-top: $padding/2;
	padding-bottom: 50px;

	a button {
		color: white;
		height: 40px;
		width: 120px;
		margin-top: 20px;
		background-color: #001c55;
		border: 2px solid #aaa;
		border-radius: 10px;

	button:hover {
		background-color: pink;
		box-shadow: 5px 5px 5px gray;
		cursor: pointer;
		}
	}


	.dialog {
		// background-color: red;
		padding: 2em;
		position: fixed;
		top: 2em;
		right: 1em;
		$width: 50%;
		width: $width/2;
		$height: 50%;
		height: $height/2;
	}
}






