@import './_variables';

.Projects {
	@include component-main;

	.projects-head {
		@include page-header;

		.projects-header {

			h1 {
				@include page-header-h1;
			}
		}
	}
	.projects-body {
		// background: url("/png/htmlcssjs1.png") no-repeat center top;
		// background-size: contain;
		height: 35em;
		display: flex;
		justify-content: center;
		align-items: center;

		.projects-content {
			width: 90%;

			p {
				line-height: 140%;
				font-size: 120%;

				h2 {
					margin-bottom: 10px;
					text-decoration: underline;
				}
			}
		}
	}
}
